{% extends 'base.html'%}
<!-- {% import 'macros.html' as macro %} -->
{% block content %}

<div class="container">

  {% for pitch in pitches %}
  <div class="row">
    <div class="col-md-12" id="all">
      <!-- Card -->
      <div class="card">

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">{{pitch.pitch_title}}</h4>
          <!-- Text -->
          <p class="card-text">{{pitch.pitch}}</p>
          <!-- Button -->
          <a href="{{url_for('main.new_comment',pitch_id=pitch.id)}}">Comments</a>

        </div>

      </div><br>
      <!-- Card -->
    </div>
  </div>
  {% endfor %}
  {% endblock %}

   
    
    
